@import '_header';
@import '_footer';
@import '_container';
@font-face {
  font-family: 'RDR2';
  src: url(../font/red-dead-redemption/CHINESER.TTF);
}

.page {
  margin: 0;
  font-family: Arial, sans-serif;

  &--main {
  background: #000;
  color: #fff;
}
}

.page--main {
  background: #000;
  color: #fff;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
}

.banner {
  background-image: url(../Исходники/main/Banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 110vh;
  width: 100%;
  position: relative;
}

.banner__content {
  text-align: center;
  max-width: 1200px;
  width: 100%;
}

.banner__title {
  font-family: 'Arial';
  font-weight: 700;
  font-size: 14px;
  padding: 10px 143px;
}

.banner__text {
  font-size: 14px;
  line-height: 18px;
  padding: 20px 140px;
}

.gallery {
  margin: 0;
  text-align: center;
}

.gallery__grid {
  display: grid;
  grid-template-columns: repeat(3, 442px);
  gap: 20px;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}

.card {
  width: 442px;
  height: 506px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
  position: relative;
  display: block;
  text-decoration: none;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(139, 0, 0, 0.3);
  }
}

.card__title {
  font-size: 34px;
  font-weight: bold;
  font-family: 'RDR2';
  margin: 15px;
  letter-spacing: 1px;
  color: #fff;
  transition: 0.3s ease;
}

.card:hover .card__title {
  color: #ff0000;
}

.card__img {
  width: 442px;
  height: 406px;
  object-fit: cover;
}


.footer__top {
  margin-top: 110px;
  font-family: 'RDR2';
}

.footer__title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 83px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 13px;
}

.footer__grid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 40px;
  align-items: end;
  padding-right: 27px;
  margin-top: 90px;
}

.footer__esrb-img {
  width: 166px;
  height: 85px;
}

.footer__social {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.footer__subtitle {
  font-family: 'RDR2';
  font-size: 48px;
  letter-spacing: 2px;
  margin: 10px;
}

.footer__announcement {
  font-size: 12px;
  font-family: 'Oswald', sans-serif;
}

.footer__logo-wrapper {
  display: flex;
  justify-content: end;
  align-items: end;
}

.footer__logo {
  width: 75px;
  height: 74px;
}

.footer__icons {
  display: flex;
  gap: 30px;
  margin-top: 10px;
}

.footer__icon {
  width: 35px;
  height: 32px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.footer__icon-link:hover .footer__icon {
  transform: scale(1.2) translateY(-2px);
}

.mail-btn {
  img {
    width: 200px;
    height: 40px;
    margin-bottom: 6px;
    transition: transform 0.3s ease;
    cursor: pointer;
  }

  &:hover img {
    transform: scale(1.05);
  }
}

@media (max-width: 1280px) {
  .banner {
    height: 100vh;
  }

  .banner__title {
    padding: 0 100px;
  }

  .banner__text {
    padding: 30px 194px;
    font-size: 14px;
  }

  .gallery {
    margin: 45px;
  }

  .gallery__grid {
    grid-template-columns: 1fr;
    gap: 20px;
    justify-items: center;
    width: 100%;
    margin: 0 auto;
  }

  .card, .card__img {
    width: 100%;
    height: auto;
    max-width: 720px;
  }

  .footer {
    width: 98%;
  }

  .footer__top {
    margin-top: 100px;
  }

  .footer__grid {
    margin-top: 90px;
  }
}

@media (max-width: 1024px) {
  .header__title {
    font-size: 16px;
  }

  .btn {
    width: 110px;
    height: 32px;
    font-size: 16px;
  }

  .banner {
    height: 65vh;
  }

  .banner__title, .banner__text {
    padding: 0 60px;
    font-size: 12px;
  }

  .gallery__grid {
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    justify-items: center;
  }

  .card, .card__img {
    width: 100%;
    height: auto;
  }

  .footer {
    width: 97%;
  }
}

@media (max-width: 768px) {
  .btn {
    width: 100px;
    height: 30px;
    font-size: 15px;
  }

  .banner {
    height: 62vh;
    background-size: contain;
    background-position: center top;
  }

  .banner__title, .banner__text {
    padding: 30px 23px;
    font-size: 20px;
  }

  .gallery__grid {
    grid-template-columns: 1fr;
    margin-top: 85px;
  }

  .footer {
    width: 95%;
  }

 .footer__top{
    margin-top: 120px;
  }

  .footer__title {
    font-size: 70px;
    letter-spacing: 6px;
    text-align: center;
  }

  .footer__subtitle {
    font-size: 60px;
  }

  .footer__esrb-img, .footer__logo {
    display: none;
  }

  .footer__grid {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 35px;
    padding-right: 0;
    margin-top: 95px;
  }

  .footer__logo-wrapper, .footer__icons {
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .header__title {
    font-size: 13px;
  }

  .btn {
    width: 88px;
    height: 28px;
    font-size: 13px;
  }

  .banner {
    height: 47vh;
  }

  .banner__title, .banner__text {
    padding: 0 10px;
    font-size: 9px;
  }

  .card__title {
    font-size: 26px;
  }

   .footer {
    width: 94%;
  }


  .footer__title {
    font-size: 60px;
  }

  .footer__subtitle {
    font-size: 35px;
  }
}

@media (max-width: 320px) {
  .header__title {
    font-size: 12px;
  }

  .banner__title, .banner__text {
    font-size: 9px;
    padding: 0 5px;
  }

  .footer {
        width: 92%;
    }

  .footer__title {
    font-size: 47px;
  }

  .footer__subtitle {
    font-size: 21px;
  }
}
